#intro-div h2{
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
}
#intro-div p{
    font-size: 200%;
    margin-left: 2%;
}
#form{
    margin-left: 20%;
    width: 45%;
    border: 3px dotted black;
    border-radius: 10px;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: aqua;
}
#main{
    width: 100%;
}
label{
    font-size: 100%;
    font-weight: bold;
    color: black;
}
.data input, textarea, select{
    width: 100%;
    height: 200%;
    font-size: 150%;
    margin-left: 10%;
    color: aqua;
    background-color: black;
    margin-bottom: 3%;
}
#submit{
    color: black;
    font-size: 150%;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    color: aqua;
    margin-left: 80%;
}